.header {
  display: flex;
  justify-content: space-between;
  padding: 16px;
}

.company-summary {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.company-summary img {
  display: block;
  width: 32px;
  height: 32px;
}

.company-summary div {
  padding-left: 8px;
  margin: 0;
}

.company-summary div p {
  padding: 0;
  margin: 0;
}

.countdown {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.countdown-number {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
}

.countdown-number p {
  padding-left: 8px;
  margin: 0;
}

.countdown-unit {
  margin: 0;
  padding: 0;
}

.share-button {
  display: flex;
  border: 1px solid black;
  padding: 0 16px;
}

.share-button p {
  padding-left: 16px;
}

.content-1 {
  display: flex;
  padding: 16px;
  justify-content: space-evenly;
}

.video {
  width: 40%;
  border: 1px solid black;
}

.video video {
  width: 100%;
  height: 100%;
  border: 2px solid green;
}

.company-details {
  width: 40%;
  border: 2px solid blue;
  padding: 16px;
}

.valuation {
  display: flex;
  align-items: center;
}

.valuation .label,
.amount-raised .label {
  width: 30%;
}

.valuation div {
  padding-left: 24px;
}

.valuation div p {
  margin: 0;
}

.amount-raised {
  display: flex;
  align-items: center;
}

.amount-details {
  padding-left: 24px;
}

.amount-details p {
  margin: 0;
}

.amount-percentage-indicator {
  height: 6px;
  background-color: gray;
}

.amount-percentage-indicator div {
  background-color: blue;
  height: 100%;
  width: 90%;
}

.amount-percentage {
  text-align: end;
}

.invest {
  display: flex;
}

.invest-label {
  width: 30%;
}

.invest-label p {
  margin: 0;
}

.invest-amount {
  padding-left: 24px;
}

.invest-amount-selector {
  border: 1px solid cyan;
  display: flex;
  justify-content: space-between;
  padding: 16px;
}

.invest-amount-selector select {
  padding: 4px;
}

.invest-amount-selector p {
  margin: 0;
  padding: 0;
}

.invest-transaction-fee {
  text-align: end;
  margin: 0;
}

.invest-button {
  display: block;
  margin: 16px 0;
  width: 100%;
  padding: 8px 0;
}

.wishlist-button {
  border: 1px solid green;
  display: flex;
  justify-content: center;
  padding: 8px 0;
}

.wishlist-button p {
  margin: 0;
  padding-left: 16px;
}

.content-2 {
  display: flex;
  border: 1px solid green;
  padding: 16px;
}

.company-literature {
  border: 1px solid black;
  padding: 16px;
}

.literature-types {
  display: flex;
  justify-content: space-evenly;
}
