.benefits {
  background-color: white;
  padding: 32px 5vw;
}

.sectionHeader {
  font-size: 1.4rem;
  font-weight: bold;
  padding: 16px;
  text-align: center;
  color: #09062d;
  margin: 0;
}

.section {
  display: flex;
  flex-wrap: wrap;
  padding: 16px 0;
  justify-content: space-between;
  background-color: white;
}

.card {
  padding: 24px;
  border-radius: 12px;
  background-color: #f7f7f7;
  text-align: center;
  margin: 16px;
  background-image: url("/assets/ellipse_background.svg");
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: 32px;
}

.card .title {
  color: #202223;
  font-weight: bold;
}

.card .description {
  color: #666666;
}

/* Adjust for smartphone screen sizes. */
@media only screen and (max-width: 600px) {
  .benefits {
    padding: 0;
  }

  .section {
    padding: 0;
    justify-content: space-evenly;
  }
}

/* Adjust for tablet screen sizes. */
@media only screen and (min-width: 600px) and (max-width: 800px) {
  .benefits {
    padding: 0;
  }

  .section {
    padding: 0;
    justify-content: space-evenly;
  }
}
