.sectionHeader {
  font-size: 1.4rem;
  font-weight: bold;
  padding: 24px 0 16px;
  text-align: center;
  color: #09062d;
  margin: 0;
}

.companiesSection {
  padding-bottom: 16px;
}

.companies {
  display: flex;
  justify-content: space-evenly;
  overflow: auto;
  padding: 16px;
  width: 100%;
}

.company {
  background-color: white;
  min-width: 25%;
  max-width: 25%;
  border-radius: 15px;
  margin: 0 16px;
  padding: 24px 16px;
}

.companyLogo {
  display: block;
  margin: auto;
}

.companyName {
  text-align: center;
  font-weight: bold;
  color: #09062d;
  margin: 8px 0;
}

.companyDescription {
  color: #666666;
  font-size: 0.9rem;
}

.raisingLabel {
  margin: 0;
  color: #666666;
  font-size: 0.8rem;
}

.companyTarget {
  color: #09062d;
  font-weight: bold;
  font-size: 1.2rem;
  margin: 0;
}

.targetDeadline {
  display: flex;
  margin: 0;
  padding: 0;
  align-items: flex-start;
}

.targetDeadline .endsInLabel {
  padding: 0;
  margin: 0;
  color: #666666;
  font-size: 0.8rem;
}

.targetDeadline .timeLeft {
  padding-left: 8px;
  margin: 0;
  color: red;
  font-size: 0.8rem;
}

.companiesSection button {
  background: #2518b8;
  border: none;
  box-shadow: 2px 2px 12px rgba(37, 24, 184, 0.6);
  color: white;
  font-weight: bold;
  font-size: 1.1rem;
  border-radius: 5px;
  cursor: pointer;
  display: block;
  margin: auto;
  padding: 8px 24px;
}

.companiesSection button:hover {
  background-color: #01bbc8;
}

/* Adjust for smartphone screen sizes. */
@media only screen and (max-width: 600px) {
  .companies {
    justify-content: left;
  }

  .companies .company {
    min-width: 80%;
    max-width: 80%;
  }
}

/* Adjust for tablet screen sizes. */
@media only screen and (min-width: 600px) and (max-width: 800px) {
  .companies {
    justify-content: left;
  }

  .companies .company {
    min-width: 35%;
    max-width: 35%;
  }
}
