.tagline {
  display: flex;
  height: 100vh;
  background-image: url("/assets/illustration_3.svg");
  background-position: right;
  background-repeat: no-repeat;
  align-items: baseline;
  position: relative;
  margin: 0 10%;
}

.tagline {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #f7f6fe;
  opacity: 0;
}

.proposition {
  width: 50%;
  background-image: url("/assets/tagline_background.svg");
  background-position: bottom right;
  background-repeat: no-repeat;
  z-index: 1000;
}

.tagline h1 {
  margin-top: 40%;
  color: #09062d;
  font-family: 'Poppins';
  font-style: normal;
  font-size: 3.5em;
  line-height: 72px;
  font-weight: 700;
}

.tagline p {
  color: #666666;
  font-size: 1rem;
}

.tagline .btn {
  padding: 16px 0;
}

.tagline .btn button {
  background: #2518b8;
  border: none;
  box-shadow: 2px 2px 12px rgba(37, 24, 184, 0.6);
  color: white;
  font-weight: bold;
  font-size: 1.1rem;
  border-radius: 5px;
  cursor: pointer;
  display: block;
  margin: auto;
  padding: 8px 24px;
}

.tagline .proposition .btn button:hover {
  background-color: #01bbc8;
}

/* Adjust for smartphone screen sizes. */
@media only screen and (max-width: 600px) {
  .taglineBackground {
    opacity: 0.88;
  }

  .tagline .proposition {
    padding: 8px;
    width: 100%;
  }

  .tagline .proposition h1 {
    font-size: 2rem;
  }
}

/* Adjust for tablet screen sizes. */
@media only screen and (min-width: 600px) and (max-width: 800px) {
  .taglineBackground {
    opacity: 0.88;
  }

  .tagline .proposition {
    width: 100%;
  }

  .tagline .proposition h1 {
    font-size: 2rem;
  }
}
