.section {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 32px;
  position: relative;
  background-image: url("/assets/illustration_7.png");
  background-repeat: no-repeat;
  background-position: left top;
  background-size: contain;
}

.content {
  margin-top: -12px;
  z-index: 1000;
}

.title {
  color: #09062d;
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 8px;
}

.underline {
  background-color: #01bbc8;
  height: 2px;
  width: 50px;
}

.pointsList {
  padding-top:16px;
}

.point {
  
  margin: 20px 0px;
  display: flex;
  align-items: center;
  font-family: 'Poppins';
  font-style: normal;
  font-size: 16px;
  line-height: 30px;

}

.point img {
  padding-right: 16px;
}

/* Adjust for smartphone screen sizes. */
@media only screen and (max-width: 600px) {
  .section {
    margin-left: 0;
  }

  .backgroundCover {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: white;
    opacity: 0.88;
  }

  .content {
    width: 100%;
  }
}

/* Adjust for tablet screen sizes. */
@media only screen and (min-width: 600px) and (max-width: 800px) {
  .section {
    margin-left: 0;
  }

  .backgroundCover {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: white;
    opacity: 0.88;
  }

  .content {
    width: 100%;
  }
}
