.tagline {
  width: 100%;
}

.tagline h1 {
    color: #09062d;
    font-family: 'Poppins';
    font-style: normal;
    font-size: 3.5em;
    line-height: 72px;
    font-weight: 700;
}

/* Adjust for tablet screen sizes. */
@media only screen and (max-width: 900px) {
  .tagline h1 {
    line-height: 60px;
    font-size: 3.5rem;
  }
  .tagline p {
    line-height: 25px;
    font-size: 1rem;
  }
}

/* Adjust for tablet screen sizes. */
@media only screen and (max-width: 1250px) {
  .tagline h1 {
    line-height: 60px;
    font-size: 3rem;
  }
}

/* Adjust for tablet screen sizes. */
@media only screen and (max-width: 1000px) {
  .tagline h1 {
    line-height: 40px;
    font-size: 2rem;
  }
  .tagline p {
    line-height: 20px;
    font-size: 0.5rem;
  }
}

/* Adjust for tablet screen sizes. */
@media only screen and (max-width: 580px) {
  .tagline h1 {
    line-height: 30px;
    font-size: 1.8rem;
  }
}

/* Adjust for tablet screen sizes. */
  @media only screen and (min-width: 580px) and (max-width: 900px) {
    .tagline h1 {
      line-height: 65px;
      font-size: 3rem;
    }
  }

.tagline p {
    color: #666666;
    font-family: 'Poppins';
    font-size: 1rem;
    font-weight: 500;
}
  

.proposition {
    margin-top: 10vh;
    z-index: 1000;
}

.benefits {
    background-color: white;
    padding: 32px 5vw;
  }
  
.sectionHeader {
    font-size: 32px;
    font-weight: 700;
    padding: 16px 0;
    text-align: center;
    color: #09062d;
    margin: 0;
  }
  
  .section {
    display: flex;
    flex-wrap: wrap;
    padding: 16px 0;
    justify-content: space-between;
    background-color: white;
  }

.section2Img {
    width: 100%;
    background-image: url("/assets/illustration_7.png");
    background-repeat: no-repeat;
    background-position: left top;
    background-size: contain;
}

.section3 {
  background-color: white;

}

  
  .card {
    width: 90%;
    min-height: 350px;
    padding: 15% 5%;
    border-radius: 12px;
    background-color: #f7f7f7;
    text-align: center;
    font-family: 'Poppins';
    margin: 1rem;
    background-image: url("/assets/ellipse_background.svg");
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 60px;
    justify-content: center;
  }
  
.card .title {
    font-size: 20px;
    color: #202223;
    font-weight: bold;
    margin: 20px 0;
  }
  
  .card .description {
    color: #666666;
  }

/* .card img {
    margin-left: 40%;
} */

.underline {
    background-color: #01bbc8;
    height: 2px;
    width: 50px;
}

.underline2 {
    background-color: #01bbc8;
    height: 2px;
    width: 50px;
}

.underline3 {
    background-color: #01bbc8;
    height: 4px;
    width: 30px;
}

.section4 {
    background-color: #f7f7f7;
    padding: 5vh 10%;
    min-height: 100vh;
    background-image: url("/assets/section3_bg.svg");
    background-repeat: no-repeat;
    background-size: 100px;
    background-position: right bottom;
}

.companyCard {
    padding: 4% 2%;
    
}

.companyCardBox {
    padding: 10%;
    background: white;
    border-radius: 15px;
    min-height: 38vh;
}

.companyCard div img {
  border-radius: 10px;
}
  
