

.tagline h1 {
    margin-top: 10vh;
    color: #09062d;
    font-family: 'Poppins';
    font-style: normal;
    font-size: 3.5em;
    line-height: 72px;
    font-weight: 700;
}

.tagline p {
    color: #666666;
    font-family: 'Poppins';
    font-size: 1rem;
    font-weight: 500;
}
  

.proposition {
    margin-top: 10vh;
    background-image: url("/assets/illustration_3.svg");
    background-position: top right;
    background-repeat: no-repeat;
    z-index: 1000;
}

.benefits {
    background-color: white;
    padding: 32px 5vw;
  }
  
.sectionHeader {
    font-size: 32px;
    font-weight: 700;
    padding: 16px 0;
    text-align: center;
    color: #09062d;
    margin: 0;
  }
  
  .section {
    display: flex;
    flex-wrap: wrap;
    padding: 16px 0;
    justify-content: space-between;
    background-color: white;
  }

.section2Img {
    height: 55vh;
    background-image: url("/assets/illustration_7.png");
    background-repeat: no-repeat;
    background-position: left top;
    background-size: contain;
}

  
  .card {
    width: 22vw;
    padding: 5% 2%;
    border-radius: 12px;
    background-color: #f7f7f7;
    text-align: center;
    font-family: 'Poppins';
    margin: 16px;
    background-image: url("/assets/ellipse_background.svg");
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 60px;
    justify-content: center;
  }
  
.card .title {
    font-size: 20px;
    color: #202223;
    font-weight: bold;
    margin: 20px 0;
  }
  
  .card .description {
    color: #666666;
  }

.card img {
    margin-left: 40%;
}

.underline {
    background-color: #01bbc8;
    height: 2px;
    width: 50px;
}

.underline2 {
    height: 2px;
    width: 50px;
}

.section3 {
    background-color: #f7f7f7;
    padding: 5vh 10%;
    height: 100vh;
    background-image: url("/assets/section3_bg.svg");
    background-repeat: no-repeat;
    background-size: 100px;
    background-position: right bottom;
}

.companyCard {
    padding: 2%;
}

.companyCard div {
    padding: 10%;
    background: white;
    border-radius: 15px;
}

.companyCard div img {
  border-radius: 10px;
}
  
  /* Adjust for smartphone screen sizes. */
  @media only screen and (max-width: 600px) {
    .benefits {
      padding: 0;
    }
  
    .section {
      padding: 0;
      justify-content: space-evenly;
    }
  }
  
  /* Adjust for tablet screen sizes. */
  @media only screen and (min-width: 600px) and (max-width: 800px) {
    .benefits {
      padding: 0;
    }
  
    .section {
      padding: 0;
      justify-content: space-evenly;
    }
  }
  
