.container{
    /* max-width: 399px; */
    max-height:416px;
}
.img{
    width: 100%;
    /* height: 352px; */
}
.img>img{
    width: 100%;
    /* max-width: 399px; */
}
.details{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 10px
}
