.container{
    /* max-width: 399px; */
    max-height:416px;
}
.img{
    width: 100%;
    height: 352px; 
    position: relative;
    border-radius: 15px;
    overflow: hidden;
}

.details{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 10px
}
