.tableRow {
  display: flex;
  justify-content: space-between;
  padding: 16px;
  border: 1px solid #f7f6fe;
  border-radius: 10px;
  overflow: auto;
}

.tableRow .companySummary {
  display: flex;
  align-items: center;
  padding: 0;
}

.companySummary img {
  width: 32px;
  height: 32px;
}

.companySummary div {
  padding: 0 0 0 16px;
}

.companySummary .companyName {
  margin: 0;
}

.companySummary .companyTag {
  font-size: 0.9rem;
  color: #8c8c8c;
  margin: 0;
}

.companyTarget {
  flex-basis: 35%;
}

.companyTarget .amount {
  text-align: center;
  margin: 0;
  padding: 0;
}

.targetIndicator {
  background-color: #e5e5e5;
  border-radius: 10px;
  height: 8px;
  margin: 0;
  padding: 0;
}

.targetIndicator .targetBar {
  width: 90%;
  height: 100%;
  background-color: #01bbc8;
  border-radius: 10px;
}

.targetIndicator .targetLabel {
  position: relative;
  left: 100%;
  bottom: 100%;
  font-size: 0.9rem;
  padding-left: 8px;
}

.remainingDays {
  display: flex;
  align-items: center;
}

.daysContainer div {
  display: flex;
  align-items: center;
  padding: 0;
}

.daysContainer div p {
  margin: 0;
}

.daysContainer .label {
  color: #8c8c8c;
  font-size: 0.8rem;
  margin: 0;
}

.remainingDays .viewButton {
  margin-left: 24px;
  cursor: pointer;
  background-color: #01bbc8;
  border-radius: 5px;
  border: none;
  color: white;
  padding: 8px 16px;
}

.remainingDays .viewButton:hover {
  background-color: black;
  color: white;
}

/* Adjust for smartphone screen sizes. */
@media only screen and (max-width: 600px) {
  .companySummary img {
    width: 24px;
    height: 24px;
  }

  .companySummary div {
    padding: 0 0 0 8px;
  }

  .companySummary .companyName {
    margin: 0;
    font-size: 0.9rem;
  }

  .companySummary .companyTag {
    font-size: 0.5rem;
  }

  .companyTarget .amount {
    font-size: 0.9rem;
  }

  .targetIndicator .targetLabel {
    visibility: hidden;
  }

  .remainingDays .viewButton {
    margin-left: 8px;
  }
}

/* Adjust for tablet screen sizes. */
@media only screen and (min-width: 600px) and (max-width: 800px) {
  .targetIndicator .targetLabel {
    visibility: hidden;
  }
}
