.navBar {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 16px;
}

.navBar .links span,
.navBar .account span {
  padding: 0 16px;
  cursor: pointer;
}

.navBar .links span:hover,
.navBar .account span:hover {
  color: #01bbc8;
}

.navBar .account {
  display: flex;
  align-items: center;
}

.navBar .account img {
  cursor: pointer;
}
