.container {
  position: relative;
  grid-column: 1/ 14;
  padding-bottom: 64px;

}

.section {
  color: white;
  padding: 30px;
  border-radius: 20px;
  background-color: #1c2854;
  display: flex;
  background-image: url("/assets/semi_circle_background.svg");
  background-repeat: no-repeat;
  background-position: left top;
}

.section div {
  width: 85%;
  margin: 16px;
}

.title {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 32px;
}

.section button {
  align-self: center;
  background-color: #01bbc8;
  border-radius: 5px;
  color: white;
  padding: 8px;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}

.section button:hover {
  background-color: #09062d;
}

.circles {
  position: absolute;
  right: 32px;
  bottom: 0;
  width: 132px;
  height: 132px;
}

/* Adjust for smartphone screen sizes. */
@media only screen and (max-width: 600px) {
  .container {
    padding-bottom: 16px;
  }

  .section {
    flex-direction: column;
    padding: 15px;
    margin-bottom: 15px;
  }

  .section div {
    width: 100%;
    margin: 8px;
  }

  .section button {
    margin-bottom: 15px;
  }

  .title {
    font-size: 1.4rem;
    margin-top: 10px;
    margin-bottom: 15px;
  }

  .circles {
    width: 64px;
    height: 64px;
  }
}

@media screen and (max-width:769px) {
  .container{
      grid-column: 1/span 6;
  }
}

/* Adjust for tablet screen sizes. */
@media only screen and (min-width: 600px) and (max-width: 800px) {
  .container {
    padding-bottom: 16px;
  }

  .section {
    flex-direction: column;
  }

  .section div {
    width: 100%;
  }

  .circles {
    width: 32px;
    height: 32px;
  }
}
