.container {
    margin: 0 5vw;
}

.tosDiv {
    display: flex;
    flex-direction: column;
    grid-column: 1/14;
    margin: 35px 0;

}

.tosSubDiv {
    display: flex;
    flex-direction: column;
    grid-column: 1/14;
    margin: 0px 20px;
}


.heading {
    font-family: Poppins;
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 30px;
}

.subHeading {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0em;
    text-align: left;
    color: #2518B8;
    margin-top: 10px;
}


.text {

    margin: 10px 0;
    color: #666666;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}

.text_bold {

    margin-top: 10px;
    color: #666666;
    font-family: "Poppins";
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0em;
}